@font-face {
    font-family: Crimson Text;
    src: url(https://cdn.rawgit.com/google/fonts/master/ofl/crimsontext/CrimsonText-Regular.ttf);
    font-weight: normal;
}
body{
  font-family: 'Crimson Text', serif;
}
.container {
  padding-top: 10px !important;
}
.header{
  display: none !important;
}
.reward{
  margin: 0px 10px !important;
  width: 30% !important;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin-bottom: 35px !important;
}
.reward img {
    padding: 30px 0px 15px;
}
.content {
    text-align: center;
    text-transform: uppercase;
    color: #042037;
}
.points {
    float: none !important;
}
.ct-points-color {
    color: #888 !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase !important;
    font-family: sans-serif;
}
.row:nth-child(2) {
    display: none !important;
}
.row:nth-child(3) {
    height: 30px !important;
}
.content a {
    font-size: 18px !important;
    height: auto !important;
    min-height: 50px !important;
}
