@font-face {
    font-family: 'PN Bold';
    src: url('https://use.typekit.net/af/c85e2e/00000000000000003b9b093b/27/l?subset_id=2&fvd=n7&v=3');
}

* {
    font-family: 'PN Bold' !important;
}

i {
    font-family: 'FontAwesome' !important;
}

.widget .header {
    border: 0;
    text-align:center;
}

.widget .header h3 {
    font-size: 36px;
    text-transform: capitalize !important;
}

.reward {
    width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    position: relative;
    text-align: center;
}

img {
    max-height: 400px;
    width: auto !important;
    max-width: 100%;
}

.content {
    background: #ff4167;
    padding: 10px 25px !important;
    position: absolute;
    top: 60%;
    width: auto !important;
    text-align: left !important;
}

a.title.ct-link-color {
    color: white !important;
    font-size: 30px !important;
    margin: 0 !important;
    height: auto !important;
}

.content .row:nth-child(2) {
    display: none !important;
}

.content .row {height: auto !important;}

p.ct-points-color {
    color: white !important;
    font-size: 20px;
}

.rewards {
    padding: 40px;
}

@media(max-width:500px){
    a.title.ct-link-color {
        font-size: 20px !important
    }
    .content {
        padding: 10px 15px !important
    }
    p.ct-points-color {
        font-size: 16px !important
    }
    .widget .header h3 {
        font-size: 26px;
    }
}
