@font-face {
    font-family: 'PN Bold';
    src: url('https://use.typekit.net/af/c85e2e/00000000000000003b9b093b/27/l?subset_id=2&fvd=n7&v=3');
}

* {
    font-family: 'PN Bold' !important;
}

.widget .header {
    border: 0;
    text-align: center;
}

.widget .header h3 {
    font-size: 36px;
    text-transform: capitalize !important;
}

.reward {
    float: none !important;
    width: 25%;
    display: inline-block;
    margin: auto !important;
    border: 0 !important;
}

.row:nth-child(2) {
    display: none !important;
}

a.title.ct-link-color {
    color: black !important;
    font-size: 22px !important;
    text-align: center;
    height: auto !important;
    margin: 0 !important;
}

.row {
    background: #ff4166;
    padding: 5px 15px !important;
    height: auto !important;
    text-align: center !important;
    margin: 10px !important;
}

.points {float: none !important;}

p.ct-points-color {
    color: white !important;
    font-size: 16px;
}
