* {
  font-family: 'Sofia Pro', sans-serif !important;
}

.header {
    display: none !important;
}

.container {
    padding: 0px !important;
}

.progress-bar-container {
    display: none !important;
}

#account-overview {
    width: auto !important;
    display: inline-block;
}

.fan-level {
    display: none !important;
}

.redeemable-points {
    display: block !important;
}

.points {
    display: none !important;
}

.redeemable-points {
    font-size: 20px !important;
    text-transform: uppercase;
    color: #ed1b2e !important;
    font-weight: bold;
}

span.flash-points {
    font-size: inherit !important;
}

.name {
    font-size: 14px !important;
    font-family: "Sofia Pro", sans-serif !important;
    color: #000 !important;
    margin-bottom: 5px !important;
    margin-top: 5px;
}

body {
    background: none !important;
}

.points-info {
    padding-left: 10px !important;
}
