@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    font-family: 'Oswald', sans-serif;
}

.header {
    display: none !important;
}

.container {
    min-height: 200px;
}

.info-toggle {
    display: none !important;
}

.name {
    font-size: 22px !important;
}

.lifetime-points {
    font-size: 22px !important;
}

.title {
    font-size: 22px !important;
}
