@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  font-family: 'Oswald', sans-serif !important;
}

.header {
  background: transparent !important;
  display: block !important;
  position: inherit !important;
  padding-left: 25px !important;
  font-family: 'Oswald', sans-serif !important;
}

.header h3 {
  text-transform: uppercase !important;
  font-weight: 900 !important;
  font-size: 42px !important;
  line-height: inherit !important;
  margin: 0px !important;
  padding: 0px !important;
}

.container {
    padding-top: 10px !important;
}
