@font-face {
    font-family: 'Avenir Next LT for AMC';
    src: url("https://d3tdkvfstzj7gy.cloudfront.net/fonts/AvenirNextLTforAMC/AvenirNextLTforAMC-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Avenir Next LT for AMC';
    font-weight: bold;
    src: url("https://d3tdkvfstzj7gy.cloudfront.net/fonts/AvenirNextLTforAMC/AvenirNextLTforAMC-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Avenir Next LT for AMC';
    font-weight: 900;
    src: url("https://d3tdkvfstzj7gy.cloudfront.net/fonts/AvenirNextLTforAMC/AvenirNextLTforAMC-Heavy.otf") format("opentype");
}

* {
  font-family: 'Avenir Next LT for AMC', sans-serif !important;
  color: #FFFFFF;
}

.header {
    color: #FFFFFF !important;
    background: transparent !important;
    display: block !important;
    position: inherit !important;
    padding-left: 25px !important;
    font-family: 'Avenir Next LT for AMC', sans-serif !important;
}

.header h3 {
    text-transform: uppercase !important;
    font-weight: 900 !important;
    font-size: 42px !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}

body {
    background: transparent !important;
    width: 100% !important;
}

li.activity {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    position: relative;
    margin: 0px !important;
}

.image-container {
    background: none !important;
    border-radius: 0px !important;
    height: 45vw !important;
    width: 100% !important;
}

.activity::before {
    content: '';
    display: block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=) 0 0/100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 60%, rgba(0,0,0,.55) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.activity:hover:before {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,.25) 100%);
}

html {
    overflow: auto !important;
}

img {
    padding: 0px !important;
    width: 100%;
    object-fit: cover;
    height: 100% !important;
    object-position: 0px 0px;
}

.container {
    padding: 0px !important;
}

.info-container {
    position: absolute;
    bottom: 55px;
    left: 20px;
    padding: 0px !important;
    max-width: 100% !important;
    z-index: 3;
}

.points-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    float: none !important;
    text-align: left !important;
    min-width: 0px !important;
    background: #D7DF58 !important;
    padding: 5px 10px;
    padding-top: 7px !important;
    z-index: 3;
}

.point-value.ct-points-color {
    color: #000000 !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}

.title {
    color: #ffffff !important;
    font-size: 32px;
    font-weight: normal !important;
    line-height: initial !important;
}

.description {
    color: #ffffff !important;
    font-size: 17px;
    max-width: 65%;
    line-height: initial !important;
}

.activity .completed i {
  display: none;
}

.activity .completed {
  text-decoration: line-through;
}

@media(max-width: 768px) {
    .header {
        padding-left: 5px !important;
    }
    
    .header h3 {
        font-size: 34px !important;
        text-align: center;
    }
    .points-container {
        bottom: 10px !important;
        margin-left: 0px !important;
        padding: 5px 10px 2px !important;
        left: 20px !important;
    }
    .points-container .point-value {
        font-size: 16px !important;
    }
    .info-container {
        bottom: 45px !important;
        left: 20px !important;
    }
    .title {
        font-size: 24px;
        max-width: 95%;
        margin-bottom: 5px !important;
    }
    .description {
        font-size: 18px;
        max-width: 85% !important;
    }
    .image-container {
        height: 65vw !important;
    }
}

@media(max-width: 450px) {
    .header h3 {
        font-size: 28px !important;
    }
    .points-container {
        left: 10px !important;
    }
    .points-container .point-value {
        font-size: 14px !important;
    }
    .info-container {
        left: 10px !important;
    }
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
    .image-container {
        height: 85vw !important;
    }
}
